 body {
  font-family: Arial;
  margin: 0;
  background-color: PaleTurquoise;
}

.hero {
  height: 60vh;
  background-image: url("cartoon education.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background: #333;
  text-align: center;
}

.navbar a {
  color: MediumSeaGreen;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}

.navbar a:hover {
  background: #555;
}

.content {
  padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 40px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.card {
    border: 1px solid #5e4f4f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: rgb(143, 188, 143);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
  background: #555;
  color: white;
  text-align: center;
  padding: 4px  ;
  font-size: 14px;
}
